Repository TedcryptoOrg/node-monitor, changes with the labels that .github/labeler.yaml gives for each.
All labels: Documentation, Workflows, API, UI, Frontend, Monitor

chore: rework workflows for new FE and staging
  .github/workflows/frontend.old.build-image.yaml
  .github/workflows/frontend.old.deploy.yaml
  .github/workflows/frontend.staging.deploy.yaml
Labels: Workflows

chore: attempt to run in docker
  .github/workflows/frontend.staging.deploy.yaml
  frontend/Makefile
  frontend/docker/Dockerfile
  frontend/next.config.mjs
  frontend/yarn.lock
Labels: Workflows, Frontend

HF: Fix workflows to be clear which one is what
  .github/workflows/frontend.build-image.yaml
  .github/workflows/frontend.deploy.yaml
  .github/workflows/frontend.old.build-image.yaml
  .github/workflows/frontend.old.deploy.yaml
Labels: Workflows

chore: attempt to run docker
  frontend/docker/Dockerfile
Labels: Frontend

chore: fix
  .github/workflows/frontend.build-image.yaml
  .github/workflows/frontend.staging.deploy.yaml
Labels: Workflows

chore: attempt to run docker (#171)
  .github/workflows/frontend.build-image.yaml
  .github/workflows/frontend.staging.deploy.yaml
  frontend/docker/Dockerfile
Labels: Workflows, Frontend

adds env variable for the backend services url
  frontend/.env.production
Labels: Frontend

Fix issue where a service with monitoring was created and monitor list is not updated
  ui/src/components/Chains.tsx
  ui/src/components/configurations/ConfigurationsComponent.tsx
  ui/src/components/configurations/UpsertConfigurationModal.tsx
Labels: UI

Fix issue where a service with monitoring was created and monitor list is not updated (#184)
  ui/src/components/Chains.tsx
  ui/src/components/configurations/ConfigurationsComponent.tsx
  ui/src/components/configurations/UpsertConfigurationModal.tsx
Labels: UI

chore: reset counter if it has failed in the past but not after 1 min
  monitor/src/Application/Monitor/MonitorManager.ts
Labels: Monitor

chore: reset counter if it has failed in the past but not after 1 min (#185)
  monitor/src/Application/Monitor/MonitorManager.ts
Labels: Monitor

chore: update yarn lock
  frontend/.yarnrc.yml
  frontend/yarn.lock
Labels: Frontend

chore: remove other lock
  frontend/package-lock.json
Labels: Frontend

chore: remove yarn
  frontend/.gitignore
  frontend/.yarnrc.yml
  frontend/docker/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Labels: Frontend

chore: update yarn lock (#186)
  frontend/.gitignore
  frontend/docker/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Labels: Frontend

.github/labeler.yaml:

# General

Documentation:
  - changed-files:
      - any-glob-to-any-file:
        - "**/docs/**"
        - "**/*.md"

Workflows:
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/**"

# Libraries

API:
  - changed-files:
    - any-glob-to-any-file: "api/**"

UI:
  - changed-files:
    - any-glob-to-any-file: "ui/**"

Frontend:
  - changed-files:
      - any-glob-to-any-file: "frontend/**"

Monitor:
  - changed-files:
    - any-glob-to-any-file: "monitor/**"
