Repository TedcryptoOrg/node-monitor, pull requests merged in 2024-04, with the labels that each got.

#169 chore: disable max attempts on normal run. we want to keep trying unt…
  monitor/src/Application/Monitor/MonitorManager.ts
Labels: Monitor

#171 chore: attempt to run docker
  .github/workflows/frontend.build-image.yaml
  .github/workflows/frontend.staging.deploy.yaml
  frontend/docker/Dockerfile
Labels: Workflows, Frontend

#184 Fix issue where a service with monitoring was created and monitor lis…
  ui/src/components/Chains.tsx
  ui/src/components/configurations/ConfigurationsComponent.tsx
  ui/src/components/configurations/UpsertConfigurationModal.tsx
Labels: UI

#185 chore: reset counter if it has failed in the past but not after 1 min
  monitor/src/Application/Monitor/MonitorManager.ts
Labels: Monitor

#186 chore: update yarn lock
  frontend/.gitignore
  frontend/docker/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Labels: Frontend

#170 chore: tidy api and fix testS
  api/package-lock.json
  api/package.json
Labels: API

#187 chore: add option to add recovering
  api/src/Application/Event/NotificationChannel/MonitorStatusChangedHandler.ts
Labels: API

#188 chore: remove not needed packages
  monitor/.sequelizerc
  monitor/package-lock.json
  monitor/package.json
Labels: Monitor

#189 chore: trigger change if last error changed too
  api/src/Application/Write/Monitor/PingMonitor/PingMonitorCommandHandler.ts
Labels: API

#191 chore: fix api not resolving issues post changing
  api/src/Application/Event/NotificationChannel/MonitorStatusChangedHandler.ts
Labels: API

#192 chore: attempt to improve spam of messages and flow
  api/prisma/migrations/20240420140702_introduce_errored_at/migration.sql
  api/prisma/schema.prisma
  api/src/Application/Event/NotificationChannel/MonitorStatusChangedHandler.ts
  api/src/Application/Write/Monitor/PingMonitor/PingMonitorCommandHandler.ts
  api/src/Domain/Monitor/Monitor.ts
  api/src/Infrastructure/Orm/Monitor/OrmMonitorRepository.ts
Labels: API

#196 feat: Live logger
  .github/workflows/api.tests.yaml
  api/.env.test
  api/Makefile
  api/package-lock.json
  api/package.json
  api/src/Application/Event/Configuration/ConfigurationControllerEventHandler.ts
  api/src/Application/Event/Configuration/ConfigurationDisabled.ts
  api/src/Application/Event/Configuration/ConfigurationEnabled.ts
  api/src/Application/Event/Monitor/MonitorControllerEventHandler.ts
  api/src/Application/Monitor/MonitorController.ts
  api/src/Application/Write/Configuration/UpsertConfiguration/UpsertConfigurationCommandHandler.ts
  api/src/Application/Write/Monitor/UpsertMonitor/UpsertMonitorCommandHandler.ts
  api/src/Infrastructure/DependencyInjection/inversify.config.ts
  api/src/Infrastructure/Monitor/WsMonitorController.ts
  api/tests/Functional/Ui/Http/Configurations/create.test.ts
  api/tests/Helper/InMemoryMonitorController.ts
  monitor/package.json
  monitor/src/Application/Event/EventDispatcher.ts
  monitor/src/Application/Healthchecker/Ping/PingHealthcheckCommandHandler.ts
  monitor/src/Application/Logger/LogProviderInterface.ts
  monitor/src/Application/Logger/Logger.ts
  monitor/src/Application/Logger/LoggerManager.ts
  monitor/src/Application/Monitor/CheckBlock/CheckBlockCommandHandler.ts
  monitor/src/Application/Monitor/CheckDiskSpace/CheckDiskSpaceCommandHandler.ts
  monitor/src/Application/Monitor/CheckOracleSignMiss/CheckOracleSignMissCommandHandler.ts
  monitor/src/Application/Monitor/CheckSignMiss/CheckSignMissCommandHandler.ts
  monitor/src/Application/Monitor/CheckUrl/CheckUrlCommandHandler.ts
  monitor/src/Application/Monitor/Checkers/AbstractChecker.ts
  monitor/src/Application/Monitor/MonitorCheckerFactory.ts
  monitor/src/Application/Monitor/MonitorManager.ts
  monitor/src/Application/Shared/CryptoTools.ts
  monitor/src/Domain/DependencyInjection/types.ts
  monitor/src/Domain/Server/WebSocketServer.ts
  monitor/src/Infrastructure/Alerter/AppAlerter.ts
  monitor/src/Infrastructure/Alerter/Channels/Telegram.ts
  monitor/src/Infrastructure/Blockchain/Cosmos/Cosmjs/RestCosmjsClient.ts
  monitor/src/Infrastructure/Blockchain/Cosmos/CosmosBlockchainClientFactory.ts
  monitor/src/Infrastructure/DependencyInjection/inversify.config.ts
  monitor/src/Infrastructure/Logger/ConsoleLogProvider.ts
  monitor/src/Infrastructure/Logger/WebsocketLogProvider.ts
  monitor/src/Infrastructure/Server/WsWebSocketServer.ts
  monitor/src/index.ts
  monitor/tests/Functional/Infrastructure/Blockchain/Cosmos/Cosmjs/RestClient.test.ts
  monitor/tests/Helper/Monitor/StubWebSocketServer.ts
  monitor/tests/Unit/Application/Shared/CryptoTools.test.ts
  ui/.env
  ui/docker/nginx/entrypoint.sh
  ui/src/App.tsx
  ui/src/Navbar.tsx
  ui/src/components/logWatcher/LogWatcher.tsx
  ui/src/context/WebSocketProvider.tsx
  ui/src/services/WebsocketClient.ts
Labels: Workflows, API, UI, Monitor

#197 feat: introduce loki logs
  monitor/.env.dist
  monitor/package-lock.json
  monitor/package.json
  monitor/src/Infrastructure/DependencyInjection/inversify.config.ts
  monitor/src/Infrastructure/Logger/LokiLogProvider.ts
Labels: Monitor

#215 Improvements
  monitor/docker/node/entrypoint.sh
  monitor/src/index.ts
Labels: Monitor

#216 chore: disable core dumps
  .github/workflows/monitor.build-image.yaml
  monitor/docker/node/Dockerfile
  monitor/docker/node/entrypoint.sh
  monitor/src/index.ts
Labels: Workflows, Monitor

#217 chore: another attempt to disable core dumps
  monitor/docker/node/Dockerfile
  monitor/docker/node/entrypoint.sh
Labels: Monitor
